@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url(/CSS/mobile/header__mobile.css);
/* Указываем шрифт убираем отступы */
* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
}
/* Элементы a сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: inherit;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}