.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #6887ff;
}
.about__image{
    width: 100%;
    height: 500px;
    background-image: url(/img/img__mobile/about__mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
.about__flex{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about__container{
    width: 90%;
    padding-left: 20px;
    padding-top: 40px;
}
.about__container:last-child{
    padding-bottom: 40px;
}
.about__container:first-child{
    display: flex;
    flex-direction: column;
}
.about__item_text-size_xxl{
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
.about__item_text-shadow{
    text-shadow: 0 0.03em black;
}
.about__item_text-size_m{
    color: white;
    font-size: 0.7em;
    font-weight: 500;
}
.about__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    background: linear-gradient(to right , #6887ff, #02b875);
}
.about__link:focus{
    background: none;
    background-color: black;
}
.about__link_text-size_m{
    color: white;
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
}