*{
    padding: 0;
    margin: 0;
}
/* позиционирование и стилизация для бургер-меню контейнера */
.burgermenu-container{
    display: block;
    height: 50px;
    width: 350px;
    background-color: grey;
    text-align: center;
    position: relative;
}
/* отключение тумблера */
#toggle{
    display: none;
}
.toggle-lable{
    display: block;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.burger-dash{
    position: absolute;
    background-color: black;
    height: 2px;
    width: 50px;
    right: 10px;
    top: 10px;
    transition: 0.5s all;
}
.second, .third{
    top: 20px;
}
.fourth{
    top: 30px;
}
.new-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: green;
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
    transition: 0.5s all;
}
.burger-link{
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    height: 25px;
}
#toggle:checked ~ .new-menu{
    max-height: 500px;
    font-size: 16px;
}
#toggle:checked ~ .first{
    display: none;
}
#toggle:checked ~ .fourth{
    display: none;
}
#toggle:checked ~ .second{
    transform: rotate(45deg);
}
#toggle:checked ~ .third{
    transform: rotate(-45deg);
}