.main-link{
    margin-left: 5%;
    width: 30%;
}
.icon-container{
    width: 20%;
}
.burger-menu{
    display: none;
}
.navigation{
    width: 50%;
    flex-flow: row nowrap;
    max-height: unset;
    font-size: unset;
}
.navigation__link_text-size_m{
    font-size: 0.5em;
}
.li__label_text-size_m{
    font-size: 0.5em;
}
