/* Mobile min-width 320px */
.secton-forth-six-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-services{
    height: 850px;
    display: flex;
    flex-direction: column;
    background-color: #6887ff;
    padding-left: 15px;
}
.our-servise-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}
.our-servise-head_text{
    text-transform: uppercase;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    text-shadow: 0px 1px 1px #000000;
}
.our-service-body{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.our-service-body__item{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 25%;
}
.our-service-body__text-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}
.our-service-body__text-bottom{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2;
    color: white;
    padding-bottom: 25px;
}
.main-services-image{
    width: 150px;
    height: 150px;
    background-image: url(/img/img__mobile/i4__mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}
.secton-six__image{
    width: 50%;
    height: 200px;
    background-image: url(/img/img__mobile/i1__mobile.png);
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    align-self: center;
}
/* laptop min-width 768px */
@media (min-width: 768px){
    .main-services-image{
        height: 355px;
        width: 330px;
    }
    .secton-six__image{
        height: 300px;
    }
}
/* desktop min-width 1024px */
@media (min-width: 1024px){
    .secton-forth-six-flex{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 850px;
    }
    .main-services{
        align-self: center;
        height: 100%;
        width: 65%;
    }
    .main-services-image{
        width: 35%;
        height: 45%;
    }
    .our-servise-head{
        justify-content: center;
    }
    .our-servise-head_text{
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .our-service-body{
        flex-flow: wrap;
        align-content: center;
    }
    .our-service-body__item{
        width: 40%;
        height: 40%;
        align-self: center;
    }
    .our-service-body__text-bottom{
        font-size: 0.7em;
    }
    .our-service-body_column{
        flex-flow: column;
    }
    .our-service-body_section_six{
        height: 25%;
        width: 60%;
    }
    .secton-six__image{
        background-image: url(/img/i1.png);
        height: 80%;
        transform: translateX(125px);
        align-self: flex-end;
    }
}
/* desktop min-width 1280px */
@media (min-width: 1280px){
    .main-services-image{
        height: 500px;
    }
}