/* Mobile min-width 320px */
.bottom-board{
    width: 100%;
    background-image: url(/img/img__mobile/slide__mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bottom-board__information{
    width: 100%;
    display: flex;
    background-color: #6886ffb9;
    justify-content: center;
}
.bottom-board__content{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bottom-board__item_item-top{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-shadow: 0px 1px 1px #000000;
    font-size: 1.2em;
    padding-bottom: 20px;
}
.bottom-board__item_item-medium{
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.bottom-board__item_item-bottom{
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1.8;
    color: white;
}
/* laptop min-width 768px */
@media (min-width: 768px){
    .bottom-board__item_item-bottom{
        font-size: 0.5em;
    }
}
/* desktop min-width 1024px */
@media (min-width: 1024px){
    .bottom-board__content {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .bottom-board__item_item-bottom {
        font-size: 0.4em;
    }
}